//code adapted from Web Dev Simplified on YouTube, https://www.youtube.com/watch?v=9HcxHDS2w1s

.carousel,
.carousel::before,
.carousel::after {
  box-sizing: border-box;

  z-index: 0;
}

.carousel {
  width: 100%;
  height: 60vh;
  position: relative;
  @include card;
  @include breakpoint-down(small) {
    height: 50vh;
  }
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: $transitionTime opacity ease-in-out;
  transition-delay: 200ms;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
}

.carousel-button {
  position: absolute;
  z-index: 2;
  border: none;
  font-size: 3.125rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(234, 219, 255, 0.5); //light
  cursor: pointer;
  border-radius: $largeBorderRadius;
  padding: $mediumSpacing;
  background-color: rgba(17, 7, 31, 0.1); //darkest

  @include breakpoint-down(small) {
    font-size: $mobileHeadingFont;
  }

  &:hover,
  &:focus {
    color: $accent;
    background-color: rgba(17, 7, 31, 0.2); //darkest
  }

  &:focus {
    outline: 0.0625rem solid $darkest;
  }
}

.carousel-button.prev {
  left: $mediumSpacing;
  @include breakpoint-down(medium) {
    left: $xSmallSpacing;
  }
}

.carousel-button.next {
  right: $mediumSpacing;
  @include breakpoint-down(medium) {
    right: $xSmallSpacing;
  }
}
