footer{
    background-color: $greyishDark;
    color: white;
    padding: 1.875rem 6.25rem;
    line-height: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;

    @include breakpoint-down(small) {
        display:block;
        font-size: 110%;
        padding: 1.875rem 20%;

        .about .heading{
            margin-top: 0px;
        }
    }

    .heading{
        color: $lightest;
        @include breakpoint-down(small) {
            margin-top: 1.875rem;
            font-size: 1.25rem;
        }
    }

    .skills__list > ul>  li::marker{
        font-size: 1.3rem;
        color: $lightest;
    }

    p, .skills__list {
        @include breakpoint-down(small) {
            font-size: .9375rem;
        }
    }
}