.header {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: $smallSpacing;

  @include breakpoint-down(medium) {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spacer {
    width: 6.25rem;
    background-color: green;

    @include breakpoint-down(medium) {
      width: 0;
      height: 0;
    }
  }

  .filter {
    display: flex;
    gap: $smallSpacing;
    justify-content: center;
    align-items: center;
    @include breakpoint-down(medium) {
      margin-top: $mediumSpacing;
    }

    label {
      color: $light;
    }

    select {
      text-transform: capitalize;
      padding: $smallSpacing;
      background-color: $accent;
      border-radius: $largeBorderRadius;
      font-size: $smallFont;
      border: none;

      option {
        text-transform: capitalize;
      }
    }
  }
}

.projects {
  @include body;

  &__category {
    margin: $mediumSpacing;
    margin-left: 0;
    color: $light;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $largeSpacing;

    @include breakpoint-down(medium) {
      gap: $mediumSpacing;
    }

    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
    }

    .project {
      @include card;
      transition: all $transitionTime ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      .image-container {
        display: flex;
        justify-content: center;

        .image {
          max-width: 100%;
          max-height: 18.75rem;
        }
      }

      .contents {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: $mediumSpacing;

        .timestamp {
          color: grey;
        }

        .title {
          margin-bottom: $xSmallSpacing;
        }

        .score {
          margin-top: $xSmallSpacing;
          color: grey;
        }

        .buttons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: $smallSpacing;
          width: 100%;
          align-items: stretch;
          justify-items: stretch;

          @include breakpoint-down(small) {
            grid-template-columns: 1fr;
          }

          a {
            text-decoration: none;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
