.project-desc {
  p {
    text-indent: $mediumSpacing;
    margin: 0;

    @include breakpoint-down(medium) {
      font-size: $mobileMainFont;
    }
  }

  ul {
    padding-left: $mediumSpacing;
  }

  h2 {
    @include breakpoint-down(medium) {
      font-size: $mobileSubheadingFont;
    }
  }

  h1 {
    margin-bottom: $largeSpacing;
    @include breakpoint-down(medium) {
      font-size: $mobileHeadingFont;
      margin-bottom: $mediumSpacing;
    }
  }

  .textContainer {
    @include card;
    margin-top: $largeSpacing;
    padding: $mediumSpacing;
    display: grid;
    gap: $smallSpacing;
    @include breakpoint-down(medium) {
      margin-top: $mediumSpacing;
    }
  }

  .button-wrapper {
    margin-top: $largeSpacing;
    display: flex;
    justify-content: center;
    gap: $mediumSpacing;

    @include breakpoint-down(small) {
      flex-wrap: wrap;
      margin-top: $mediumSpacing;
      gap: $smallSpacing;
    }

    a {
      padding: 0;
    }

    .project-button {
      width: $setWidth;
      text-align: center;
      margin: 0;

      @include breakpoint-down(small) {
        width: 100%;
      }
    }
  }
}
