.sidePanel {
  @include background-gradient-dark;

  @include breakpoint-up(medium) {
    width: calc(97vw / 5);
    min-width: $setWidthSmall;
    padding: $largeSpacing;
  }

  @include breakpoint-down(medium) {
    padding: $largeSpacing $mediumSpacing;
    min-width: $setWidth;
  }

  @include breakpoint-down(small) {
    padding: 0;
    order: 2;
    height: 30vh;
    position: relative;
    //display: none;
  }

  overflow: auto;
  text-align: center;
  transition: $slowerTransitionTime;

  #sideContainer {
    @include breakpoint-up(medium) {
      height: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $light;
      &:hover,
      &:visited {
        color: $light;
      }
    }

    h1 {
      transition: $transitionTime ease-in-out;
    }

    h1:hover {
      color: $accent;
    }

    img {
      max-height: 1.875rem;
      max-width: 1.875rem;

      &:not(:last-child) {
        margin-right: $xSmallSpacing;
      }
    }

    h2:not(.subtitle) {
      margin-bottom: $smallSpacing;
    }
  }
}
