.sidePanel,
.footer {
  @include background-gradient-dark;

  overflow: auto;
  text-align: center;
  transition: $slowerTransitionTime;

  .sideContainer {
    @include breakpoint-up(medium) {
      height: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $light;
      &:hover,
      &:visited {
        color: $light;
      }
    }

    h1 {
      transition: $transitionTime ease-in-out;
      @include breakpoint-down(medium) {
        font-size: $mobileHeadingFont;
      }
    }

    h1:hover {
      color: $accent;
    }

    img {
      max-height: 1.875rem;
      max-width: 1.875rem;

      &:not(:last-child) {
        margin-right: $xSmallSpacing;
      }
    }

    h2:not(.subtitle) {
      margin-bottom: $smallSpacing;
    }

    h2 {
      @include breakpoint-down(medium) {
        font-size: $mobileSubheadingFont;
      }
    }

    p {
      @include breakpoint-down(medium) {
        font-size: $mobileMainFont;
      }
    }
  }
}

.sidePanel {
  @include breakpoint-up(medium) {
    width: calc(97vw / 5);
    min-width: $setWidthSmall;
    padding: $largeSpacing;
  }

  @include breakpoint-down(small) {
    display: none;
  }
}

.footer {
  display: none;

  @include breakpoint-down(small) {
    display: block;
    margin-top: $largeSpacing;
    padding: 0;
    background: none;

    .sideContainer > * {
      margin-bottom: $mediumSpacing;
    }
  }
}
