//colour palette
/* $darkest: #1a0a30; */

//purple
/* $darkest: rgb(17, 7, 31);
$light: rgb(234, 219, 255);
$accent: rgb(160, 52, 124);
$lightAccent: lighten($accent, 20%); */

//green
$darkest: rgb(7, 31, 9);
$light: rgb(234, 219, 255);
$accent: rgb(160, 52, 124);
$lightAccent: lighten($accent, 20%);

//sizes and spacings
$xLargeSpacing: 6.25rem;
$largeSpacing: 3.125rem;
$mediumSpacing: 1.25rem;
$smallSpacing: 0.625rem;
$xSmallSpacing: 0.3125rem;

$headingFont: 2.5rem;
$subheadingFont: 1.375rem;
$mainFont: 1rem;
$smallFont: 0.875rem;

$mobileHeadingFont: 1.875rem;
$mobileSubheadingFont: 1.25rem;
$mobileMainFont: 0.875rem;
$mobileSmallFont: 0.875rem;

$setWidth: 12.5rem;
$navHeight: 2.5rem;
$largeBorderRadius: 1.875rem;

$transitionTime: 200ms;
$slowerTransitionTime: 500ms;

$borderWidth: 0.125rem;

$gridGap: 1.875rem;
