@import "variables";
@import "mixins";
@import "side-panel";
@import "homepage";
@import "project-page";
@import "carousel";

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-wrap: anywhere;

  /* chrome scrollbar */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: $transparent;
    border-radius: 0.3125rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $accent;
    border-radius: 0.3125rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: lighten($accent, 20%);
  }

  /* firefox scrollbar */
  scrollbar-color: $accent $light;
  /* scrollbar-width: thin; */
}

h1 {
  font-size: $headingFont;
  color: $light;
  text-align: center;
  @include breakpoint-down(small) {
    font-size: $mobileHeadingFont;
  }
}
h2,
h3 {
  color: $lightAccent;
  font-size: $subheadingFont;
  @include breakpoint-down(small) {
    font-size: $mobileSubheadingFont;
  }
}

p,
ul {
  color: $light;
  font-size: $mainFont;
  line-height: 1.5;
  @include breakpoint-down(small) {
    font-size: $mobileMainFont;
  }
}

body {
  background-color: $darkest;
  background-image: url(../../public/images/bg.jpg);
  background-size: cover;
  background-position: 0 50%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: linear-gradient(
    to right bottom,
    rgba(red($darkest), green($darkest), blue($darkest), 0.95),
    rgba(red($darkest), green($darkest), blue($darkest), 0.87)
  );
  backdrop-filter: blur(0.07rem);
  height: 95vh;
  width: 97vw;
  border-radius: $borderRadius;
  overflow: hidden;
  margin: auto;
  display: flex;

  @include breakpoint-down(small) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $navHeight auto;
  }
}

.mainPanel {
  @include breakpoint-up(medium) {
    //flex: 4;
    width: calc(97vw * 4 / 5);
  }

  transition: $slowerTransitionTime;
  overflow: auto;
  margin-top: $largerSpacing;
}

.button {
  padding: $smallSpacing;
  border-radius: $largeBorderRadius;
  font-size: $mainFont;
  font-weight: 600;
  transition: $transitionTime ease-in-out;
  color: $darkest;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      to right bottom,
      darken(rgba(red($accent), green($accent), blue($accent), 1), 15%),
      darken(rgba(red($accent), green($accent), blue($accent), 0.5), 15%)
    ); //$accent
    //transition doesn't work now
  }

  @include breakpoint-down(small) {
    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
    padding: $smallSpacing;
    font-size: $mobileMainFont;
  }
}

.button-primary {
  border-width: 0;
  background: linear-gradient(
    to right bottom,
    rgba(red($accent), green($accent), blue($accent), 1),
    rgba(red($accent), green($accent), blue($accent), 0.5)
  );
}

.button-secondary {
  color: $accent;
  border-width: 0.1875rem;
  border-color: $accent;
  background-color: transparent;

  &:hover {
    color: $light;
    border-color: $light;
    background: linear-gradient(
      to right bottom,
      rgba(red($darkest), green($darkest), blue($darkest), 0.6),
      rgba(red($darkest), green($darkest), blue($darkest), 0.4)
    );
  }
}

hr {
  border: 0.0625rem solid $transparent;
  border-radius: 0.125rem;
  margin-top: $largeSpacing;
  @include breakpoint-down(medium) {
    margin-top: $mediumSpacing;
  }
}

.error {
  color: $lightAccent;
  @include body;

  .error-message {
    text-align: center;

    hr {
      margin: $largeSpacing 0;

      @include breakpoint-down(small) {
        margin: $mediumSpacing 0;
      }
    }
  }
}
