.sidePanel,
.footer {
  background: linear-gradient(to right bottom, rgba(244, 255, 239, 0.05), rgba(244, 255, 239, 0.035));
  overflow: auto;
  text-align: center;
  transition: 500ms;
}
.sidePanel .sideContainer,
.footer .sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 40em) {
  .sidePanel .sideContainer,
  .footer .sideContainer {
    height: 100%;
  }
}
.sidePanel .sideContainer a,
.footer .sideContainer a {
  text-decoration: none;
  color: rgb(244, 255, 239);
}
.sidePanel .sideContainer a:hover, .sidePanel .sideContainer a:visited,
.footer .sideContainer a:hover,
.footer .sideContainer a:visited {
  color: rgb(244, 255, 239);
}
.sidePanel .sideContainer h1,
.footer .sideContainer h1 {
  transition: 200ms ease-in-out;
}
@media (max-width: 63.9375em) {
  .sidePanel .sideContainer h1,
  .footer .sideContainer h1 {
    font-size: 1.875rem;
  }
}
.sidePanel .sideContainer h1:hover,
.footer .sideContainer h1:hover {
  color: rgb(255, 113, 30);
}
.sidePanel .sideContainer img,
.footer .sideContainer img {
  max-height: 1.875rem;
  max-width: 1.875rem;
}
.sidePanel .sideContainer img:not(:last-child),
.footer .sideContainer img:not(:last-child) {
  margin-right: 0.3125rem;
}
.sidePanel .sideContainer h2:not(.subtitle),
.footer .sideContainer h2:not(.subtitle) {
  margin-bottom: 0.625rem;
}
@media (max-width: 63.9375em) {
  .sidePanel .sideContainer h2,
  .footer .sideContainer h2 {
    font-size: 1.25rem;
  }
}
@media (max-width: 63.9375em) {
  .sidePanel .sideContainer p,
  .footer .sideContainer p {
    font-size: 0.875rem;
  }
}

@media (min-width: 40em) {
  .sidePanel {
    width: 19.4vw;
    min-width: 9.375rem;
    padding: 3.125rem;
  }
}
@media (max-width: 39.9375em) {
  .sidePanel {
    display: none;
  }
}

.footer {
  display: none;
}
@media (max-width: 39.9375em) {
  .footer {
    display: block;
    margin-top: 3.125rem;
    padding: 0;
    background: none;
  }
  .footer .sideContainer > * {
    margin-bottom: 1.25rem;
  }
}

.header {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.625rem;
}
@media (max-width: 39.9375em) {
  .header {
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header .spacer {
  width: 6.25rem;
}
@media (max-width: 39.9375em) {
  .header .spacer {
    width: 0;
    height: 0;
  }
}
.header .filter {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 63.9375em) {
  .header .filter {
    margin-top: 1.25rem;
  }
}
.header .filter label {
  color: rgb(244, 255, 239);
}
.header .filter select {
  text-transform: capitalize;
  padding: 0.625rem;
  background-color: rgb(255, 113, 30);
  border-radius: 1.875rem;
  font-size: 0.875rem;
  border: none;
}
.header .filter select option {
  text-transform: capitalize;
}

.mainPanel .projects {
  margin: auto;
  padding: 3.125rem 4.6875rem;
}
@media (max-width: 63.9375em) {
  .mainPanel .projects {
    padding: 3.125rem;
  }
}
@media (max-width: 39.9375em) {
  .mainPanel .projects {
    padding: 1.25rem;
  }
}
.mainPanel .projects__category {
  margin: 3.125rem 0;
  margin-left: 0;
  color: rgb(244, 255, 239);
}
@media (max-width: 63.9375em) {
  .mainPanel .projects__category {
    margin: 1.25rem 0;
  }
}
.mainPanel .projects .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.6875rem;
}
@media (max-width: 63.9375em) {
  .mainPanel .projects .grid {
    grid-template-columns: 1fr;
    gap: 3.125rem;
  }
}
@media (max-width: 39.9375em) {
  .mainPanel .projects .grid {
    grid-template-columns: 1fr;
  }
}
.mainPanel .projects .grid .project {
  background: linear-gradient(to right bottom, rgba(244, 255, 239, 0.05), rgba(244, 255, 239, 0.035));
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.625rem rgba(9, 12, 9, 0.85);
  transition: all 200ms ease-in-out;
}
.mainPanel .projects .grid .project .contents {
  padding: 1.25rem 1.875rem;
}
@media (max-width: 63.9375em) {
  .mainPanel .projects .grid .project .contents {
    padding: 0.625rem;
  }
}
.mainPanel .projects .grid .project:hover {
  transform: scale(1.05);
}
.mainPanel .projects .grid .project .image-container {
  display: flex;
  justify-content: center;
}
.mainPanel .projects .grid .project .image-container .image {
  max-width: 100%;
  max-height: 18.75rem;
}
.mainPanel .projects .grid .project .contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
}
.mainPanel .projects .grid .project .contents .timestamp {
  color: grey;
}
.mainPanel .projects .grid .project .contents .title {
  margin-bottom: 0.3125rem;
}
.mainPanel .projects .grid .project .contents .score {
  margin-top: 0.3125rem;
  color: grey;
}
.mainPanel .projects .grid .project .contents .buttons {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 39.9375em) {
  .mainPanel .projects .grid .project .contents .buttons {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.mainPanel .projects .grid .project .contents .buttons a {
  flex: 1;
  text-decoration: none;
}
.mainPanel .projects .grid .project .contents .buttons a button {
  width: 100%;
}

.project-desc p {
  text-indent: 1.25rem;
  margin: 0;
}
@media (max-width: 63.9375em) {
  .project-desc p {
    font-size: 0.875rem;
  }
}
.project-desc ul {
  padding-left: 1.25rem;
}
@media (max-width: 63.9375em) {
  .project-desc h2 {
    font-size: 1.25rem;
  }
}
.project-desc h1 {
  margin-bottom: 3.125rem;
}
@media (max-width: 63.9375em) {
  .project-desc h1 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }
}
.project-desc h3 {
  font-size: 1rem;
  margin-top: 1.25rem;
}
.project-desc .textContainer {
  background: linear-gradient(to right bottom, rgba(244, 255, 239, 0.05), rgba(244, 255, 239, 0.035));
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.625rem rgba(9, 12, 9, 0.85);
  margin-top: 3.125rem;
  padding: 1.25rem;
  display: grid;
  gap: 0.625rem;
}
.project-desc .textContainer .contents {
  padding: 1.25rem 1.875rem;
}
@media (max-width: 63.9375em) {
  .project-desc .textContainer .contents {
    padding: 0.625rem;
  }
}
@media (max-width: 63.9375em) {
  .project-desc .textContainer {
    margin-top: 1.25rem;
  }
}
.project-desc .button-wrapper {
  margin-top: 3.125rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 63.9375em) {
  .project-desc .button-wrapper {
    margin-top: 1.25rem;
  }
}
@media (max-width: 39.9375em) {
  .project-desc .button-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.625rem;
  }
}
.project-desc .button-wrapper .project-button {
  text-align: center;
  margin: 0;
}
@media (min-width: 64em) {
  .project-desc .button-wrapper .project-button {
    width: 15.625rem;
  }
}
@media (max-width: 63.9375em) {
  .project-desc .button-wrapper .project-button {
    flex: 1;
  }
}
@media (max-width: 39.9375em) {
  .project-desc .button-wrapper .project-button {
    width: 100%;
  }
}

.carousel,
.carousel::before,
.carousel::after {
  box-sizing: border-box;
  z-index: 0;
}

.carousel {
  width: 100%;
  height: 60vh;
  position: relative;
  background: linear-gradient(to right bottom, rgba(244, 255, 239, 0.05), rgba(244, 255, 239, 0.035));
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.625rem rgba(9, 12, 9, 0.85);
}
.carousel .contents {
  padding: 1.25rem 1.875rem;
}
@media (max-width: 63.9375em) {
  .carousel .contents {
    padding: 0.625rem;
  }
}
@media (max-width: 39.9375em) {
  .carousel {
    height: 50vh;
  }
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  border: none;
  font-size: 3.125rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(234, 219, 255, 0.5);
  cursor: pointer;
  border-radius: 1.875rem;
  padding: 1.25rem;
  background-color: rgba(17, 7, 31, 0.1);
}
@media (max-width: 39.9375em) {
  .carousel-button {
    font-size: 1.875rem;
  }
}
.carousel-button:hover, .carousel-button:focus {
  color: rgb(255, 113, 30);
  background-color: rgba(17, 7, 31, 0.2);
}
.carousel-button:focus {
  outline: 0.0625rem solid rgb(16, 17, 16);
}

.carousel-button.prev {
  left: 1.25rem;
}
@media (max-width: 63.9375em) {
  .carousel-button.prev {
    left: 0.3125rem;
  }
}

.carousel-button.next {
  right: 1.25rem;
}
@media (max-width: 63.9375em) {
  .carousel-button.next {
    right: 0.3125rem;
  }
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  transition: 200ms ease-in-out;
  background-color: #20261e;
  z-index: 2;
  box-shadow: 0 0.3125rem 0.625rem rgba(9, 12, 9, 0.85);
}
nav #menu-container {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}
@media (max-width: 39.9375em) {
  nav #menu-container {
    display: none;
    transition: 500ms;
    padding: 1.25rem;
    padding-top: 0;
    flex-direction: column;
  }
}
nav a,
nav Link {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  align-self: center;
  color: #ff9151;
  padding: 0 5%;
}
nav a:hover,
nav Link:hover {
  color: rgb(244, 255, 239);
}
nav a:not(:last-child),
nav Link:not(:last-child) {
  border-right: 0.125rem solid #ff9151;
}
@media (max-width: 63.9375em) {
  nav a,
  nav Link {
    padding: 0 1.25rem;
    font-size: 0.875rem;
  }
}
@media (max-width: 39.9375em) {
  nav a,
  nav Link {
    padding: 1.25rem 0;
    width: 100%;
    text-align: center;
  }
  nav a:not(:last-child),
  nav Link:not(:last-child) {
    border-right: none;
    border-bottom: 0.125rem solid #ff9151;
  }
}
nav .strip {
  display: none;
}
@media (max-width: 39.9375em) {
  nav .strip {
    color: rgb(244, 255, 239);
    font-size: 1.375rem;
    display: block;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
  }
  nav .strip #close {
    display: none;
  }
  nav .strip #open,
  nav .strip #close {
    position: absolute;
    right: 1.25rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-wrap: anywhere;
  /* chrome scrollbar */
  /* firefox scrollbar */
  scrollbar-color: rgb(255, 113, 30) rgb(244, 255, 239);
  /* scrollbar-width: thin; */
}
* ::-webkit-scrollbar {
  width: 1rem;
}
* ::-webkit-scrollbar-track {
  background: rgba(244, 255, 239, 0.08);
  border-radius: 0.3125rem;
}
* ::-webkit-scrollbar-thumb {
  background: rgb(255, 113, 30);
  border-radius: 0.3125rem;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #ffb184;
}

h1 {
  font-size: 2.5rem;
  color: rgb(244, 255, 239);
  text-align: center;
}
@media (max-width: 39.9375em) {
  h1 {
    font-size: 1.875rem;
  }
}

h2,
h3 {
  color: #ff9151;
  font-size: 1.375rem;
}
@media (max-width: 39.9375em) {
  h2,
  h3 {
    font-size: 1.25rem;
  }
}

p,
ul {
  color: rgb(244, 255, 239);
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 39.9375em) {
  p,
  ul {
    font-size: 0.875rem;
  }
}

body {
  background-color: rgb(16, 17, 16);
  background-image: url(../../public/images/bg.jpg);
  background-size: cover;
  background-position: 0 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: linear-gradient(to right bottom, rgba(16, 17, 16, 0.95), rgba(16, 17, 16, 0.87));
  -webkit-backdrop-filter: blur(0.07rem);
          backdrop-filter: blur(0.07rem);
  height: 95vh;
  width: 97vw;
  border-radius: 0.625rem;
  overflow: hidden;
  margin: auto;
  display: flex;
}
@media (max-width: 39.9375em) {
  main {
    flex-direction: column;
    height: 97vh;
    width: 95vw;
    overflow: auto;
  }
}

.mainPanel {
  transition: 500ms;
  overflow: auto;
}
@media (min-width: 40em) {
  .mainPanel {
    width: 77.6vw;
  }
}
@media (max-width: 39.9375em) {
  .mainPanel {
    height: 100%;
    order: 1;
  }
}

.button {
  padding: 0.625rem;
  border-radius: 1.875rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 200ms ease-in-out;
  color: rgb(16, 17, 16);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(to right bottom, #d14d00, rgba(209, 77, 0, 0.5));
}
@media (max-width: 39.9375em) {
  .button {
    padding: 0.625rem;
    font-size: 0.875rem;
  }
  .button:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.button-primary {
  border-width: 0;
  background: linear-gradient(to right bottom, rgb(255, 113, 30), rgba(255, 113, 30, 0.5));
}

.button-secondary {
  color: rgb(255, 113, 30);
  border: 0.125rem solid rgb(255, 113, 30);
  background-color: transparent;
}
.button-secondary:hover {
  color: rgb(244, 255, 239);
  border-color: rgb(244, 255, 239);
  background: linear-gradient(to right bottom, rgba(16, 17, 16, 0.6), rgba(16, 17, 16, 0.4));
}

hr {
  border: 0.0625rem solid rgba(244, 255, 239, 0.08);
  border-radius: 0.125rem;
  margin-top: 3.125rem;
}
@media (max-width: 63.9375em) {
  hr {
    margin-top: 1.25rem;
  }
}

.error {
  color: #ff9151;
  margin: auto;
  padding: 3.125rem 4.6875rem;
}
@media (max-width: 63.9375em) {
  .error {
    padding: 3.125rem;
  }
}
@media (max-width: 39.9375em) {
  .error {
    padding: 1.25rem;
  }
}
.error .error-message {
  text-align: center;
}
.error .error-message hr {
  margin: 3.125rem 0;
}
@media (max-width: 39.9375em) {
  .error .error-message hr {
    margin: 1.25rem 0;
  }
}/*# sourceMappingURL=style.css.map */