@import "variables";
@import "mixins";
@import "header";
@import "body";
@import "carousel";
@import "footer";

//palettes: 
//https://coolors.co/1b1b3a-693668-a74482-f84aa7-ff3562
//https://coolors.co/dabfff-907ad6-4f518c-2c2a4a-7fdeff
//https://coolors.co/3a015c-4f0147-35012c-290025-11001c
//https://coolors.co/32213a-383b53-66717e-d4d6b9-d1caa1
//https://coolors.co/272838-5d536b-7d6b91-989fce-347fc4
//https://coolors.co/78c0e0-449dd1-192bc2-150578-0e0e52
//https://coolors.co/020103-1d1a1f-ad02e6-ab7dba-65526b
//https://coolors.co/070708-06060a-5954e3-4440c7-b9b9c4
//https://coolors.co/516125-5c7026-111406-141a06-bff03a
//https://coolors.co/302045-6707e6-8e67c2-1a0a30-4d2e75   nice one?
//https://coolors.co/685f8c-281087-0a012e-5a4d8f-0e0921


*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-wrap: anywhere;

    /* chrome scrollbar */
    ::-webkit-scrollbar {
        width: 1rem;
    }
    
    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border-radius: .625rem;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $greyishLight;
        border-radius: .625rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: lighten($greyishLight, 20%);
    }

    /* firefox scrollbar */
    scrollbar-color: $greyishLight white;
    /* scrollbar-width: thin; */
}

